internship.json
[{"id":"9f4bddef.b7f3a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"754aa3dd.f2304c","type":"function","z":"9f4bddef.b7f3a","name":"PreToken","func":"global.set(\"rd\",msg.payload.rd)\nglobal.set(\"ad\",msg.payload.ad)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"st\",msg.payload.st)\nvar apikey=\"3-q5S4ku8da4olFBke0zw1MSoRPW-rKG_iZj7FLnC6oU\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":480,"wires":[["81324a8e.b7a858"]]},{"id":"81324a8e.b7a858","type":"http request","z":"9f4bddef.b7f3a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":459,"y":468.9999952316284,"wires":[["72f80ff7.6865c","c91f208.ee7a6e"]]},{"id":"8fb07c11.c0296","type":"debug","z":"9f4bddef.b7f3a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":898.0000114440918,"y":210.99999713897705,"wires":[]},{"id":"72f80ff7.6865c","type":"function","z":"9f4bddef.b7f3a","name":"Pre Prediction","func":"var rd = global.get('rd')\nvar ad = global.get('ad')\nvar ms = global.get('ms')\nvar st = global.get('st')\nvar token=msg.payload.access_token\nvar instance_id=\"51bf6055-38b4-4f85-8ef0-3201ca4cd86f\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"yearOfRegistration\", \"powerPS\", \"kilometer\", \"brand\"], \"values\": [[rd,ad,ms,st]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":656.0000076293945,"y":431.9999990463257,"wires":[["45f99972.1d2eb8"]]},{"id":"45f99972.1d2eb8","type":"http request","z":"9f4bddef.b7f3a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/b9da21ba-35e2-469c-a8f9-8f90e2c1fff5/predictions","tls":"","persist":false,"proxy":"","authType":"","x":749.5000076293945,"y":375.9999990463257,"wires":[["5292e1ac.5327","8fb07c11.c0296"]]},{"id":"892a417c.ce6e9","type":"ui_form","z":"9f4bddef.b7f3a","name":"","label":"","group":"289db479.84d6bc","order":1,"width":0,"height":0,"options":[{"label":"yearOfRegistration","value":"rd","type":"number","required":true,"rows":null},{"label":"powerPS","value":"ad","type":"number","required":true,"rows":null},{"label":"kilometer","value":"ms","type":"number","required":true,"rows":null},{"label":"brand","value":"st","type":"text","required":true,"rows":null}],"formValue":{"rd":"","ad":"","ms":"","st":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":51,"y":522.9999952316284,"wires":[["754aa3dd.f2304c"]]},{"id":"e6a3f86.6499408","type":"ui_text","z":"9f4bddef.b7f3a","group":"289db479.84d6bc","order":2,"width":0,"height":0,"name":"","label":"Resale value","format":"{{msg.payload}}","layout":"row-spread","x":797.6000366210938,"y":528.2000074386597,"wires":[]},{"id":"5292e1ac.5327","type":"function","z":"9f4bddef.b7f3a","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":240,"wires":[["e6a3f86.6499408"]]},{"id":"c91f208.ee7a6e","type":"debug","z":"9f4bddef.b7f3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":620,"wires":[]},{"id":"289db479.84d6bc","type":"ui_group","z":"","name":"Internship","tab":"b364e70f.5fffc8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b364e70f.5fffc8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]